PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE lineage_block (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            block_id TEXT UNIQUE NOT NULL,
            parent_block_id TEXT,
            block_type TEXT DEFAULT 'SELECT',
            target_table TEXT,
            statement_type TEXT,
            from_table TEXT,
            from_alias TEXT,
            sql_hash TEXT,
            job_id TEXT,
            period TEXT,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO lineage_block VALUES(1,'manual_BLK_0001',NULL,'SELECT','base_app_cisp.t_branch_y4_fzjgywjgbb_t','INSERT','trcif.cif_lborganization','x','91f9e992694eac58','manual','unknown','2026-08-13 07:21:23');
INSERT INTO lineage_block VALUES(2,'manual_BLK_0002','manual_BLK_0001','SELECT',NULL,'SUBQUERY',NULL,'x','78f1b4528b9ac5cf','manual','unknown','2026-08-13 07:21:23');
INSERT INTO lineage_block VALUES(3,'manual_BLK_0003','manual_BLK_0002','SELECT',NULL,'SUBQUERY',NULL,'x','77d8ba76f83eb9f3','manual','unknown','2026-08-13 07:21:23');
CREATE TABLE lineage_block_column (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            block_id TEXT NOT NULL,
            target_column TEXT NOT NULL,
            source_column TEXT,
            source_table TEXT,
            agg_func TEXT,
            has_distinct BOOLEAN DEFAULT 0,
            expression TEXT,
            expression_type TEXT,
            FOREIGN KEY (block_id) REFERENCES lineage_block(block_id)
        );
INSERT INTO lineage_block_column VALUES(1,'manual_BLK_0001','orgcode','orgcode','trcif.cif_lborganization',NULL,0,'x.orgcode','direct');
INSERT INTO lineage_block_column VALUES(2,'manual_BLK_0001','c4_01','c4_01','trcif.cif_lborganization',NULL,0,'COALESCE(z.c4_01, 0)','function');
INSERT INTO lineage_block_column VALUES(3,'manual_BLK_0001','d4_01','c4_01, d4_01','trcif.cif_lborganization',NULL,0,'COALESCE(z.d4_01, 0) + COALESCE(lm.d4_01_lm, 0)','binary');
CREATE TABLE lineage_block_join (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            block_id TEXT NOT NULL,
            join_type TEXT,
            join_table TEXT,
            join_alias TEXT,
            on_condition TEXT,
            FOREIGN KEY (block_id) REFERENCES lineage_block(block_id)
        );
INSERT INTO lineage_block_join VALUES(1,'manual_BLK_0001','INNER',NULL,'z','x.orgcode = z.department_id');
INSERT INTO lineage_block_join VALUES(2,'manual_BLK_0001','INNER',NULL,'lm','x.orgcode = lm.department_id');
INSERT INTO lineage_block_join VALUES(3,'manual_BLK_0002','INNER',NULL,'y','x.department_id = y.branch_code');
CREATE TABLE lineage_block_where (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            block_id TEXT NOT NULL,
            condition_expr TEXT,
            FOREIGN KEY (block_id) REFERENCES lineage_block(block_id)
        );
INSERT INTO lineage_block_where VALUES(1,'manual_BLK_0006','x.yf = ''202512'' AND x.branch_code = y.branch_code');
INSERT INTO lineage_block_where VALUES(2,'manual_BLK_0009','exchange_rate.rq = ''20240101'' AND CASE WHEN exchange_rate.bz = ''HKD'' THEN 2 ELSE CASE WHEN exchange_rate.bz = ''USD'' THEN 1 ELSE 99 END END IN (''HKD'', ''USD'')');
INSERT INTO lineage_block_where VALUES(3,'manual_BLK_0010','x.branch_code = y.branch_code AND x.tradedate LIKE ''202512%'' AND x.zdyjl > 0');
CREATE TABLE lineage_block_group_by (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            block_id TEXT NOT NULL,
            group_column TEXT,
            FOREIGN KEY (block_id) REFERENCES lineage_block(block_id)
        );
INSERT INTO lineage_block_group_by VALUES(1,'manual_BLK_0003','x.branch_code');
INSERT INTO lineage_block_group_by VALUES(2,'manual_BLK_0003','x.yf');
INSERT INTO lineage_block_group_by VALUES(3,'manual_BLK_0004','x.map_branch_code');
CREATE TABLE lineage_block_having (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            block_id TEXT NOT NULL,
            having_expr TEXT,
            FOREIGN KEY (block_id) REFERENCES lineage_block(block_id)
        );
CREATE TABLE lineage_block_union (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            parent_block_id TEXT NOT NULL,
            child_block_id TEXT NOT NULL,
            FOREIGN KEY (parent_block_id) REFERENCES lineage_block(block_id),
            FOREIGN KEY (child_block_id) REFERENCES lineage_block(block_id)
        );
CREATE TABLE field_lineage (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            source_table TEXT,
            target_table TEXT,
            source_field TEXT,
            target_field TEXT NOT NULL,
            expression TEXT,
            full_expression TEXT,
            expression_type TEXT,
            source_role TEXT DEFAULT 'direct',
            job_id TEXT,
            report_code TEXT DEFAULT 'Y4',
            layer TEXT,
            agg_func TEXT,
            has_distinct BOOLEAN DEFAULT 0,
            group_by TEXT,
            having_cond TEXT,
            where_condition TEXT,
            is_grouped BOOLEAN DEFAULT 0,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO field_lineage VALUES(1,'trcif.cif_lborganization','base_app_cisp.t_branch_y4_fzjgywjgbb_t','orgcode','orgcode','orgcode','x.orgcode','direct','direct','manual_1786605681010','Y4','UNKNOWN',NULL,0,NULL,NULL,NULL,0,'2026-08-13 07:21:23');
INSERT INTO field_lineage VALUES(2,'trcif.cif_lborganization','base_app_cisp.t_branch_y4_fzjgywjgbb_t','c4_01','c4_01','coalesce(...)','COALESCE(z.c4_01, 0)','other','direct','manual_1786605681010','Y4','UNKNOWN',NULL,0,NULL,NULL,NULL,0,'2026-08-13 07:21:23');
INSERT INTO field_lineage VALUES(3,'trcif.cif_lborganization','base_app_cisp.t_branch_y4_fzjgywjgbb_t','c4_01','d4_01','COALESCE(z.d4_01, 0) + COALESCE(lm.d4_01_lm, 0)','COALESCE(z.d4_01, 0) + COALESCE(lm.d4_01_lm, 0)','computed','direct','manual_1786605681010','Y4','UNKNOWN',NULL,0,NULL,NULL,NULL,0,'2026-08-13 07:21:23');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('field_lineage',190);
INSERT INTO sqlite_sequence VALUES('lineage_block',13);
INSERT INTO sqlite_sequence VALUES('lineage_block_column',328);
CREATE INDEX idx_block_job_id ON lineage_block(job_id);
CREATE INDEX idx_block_target_table ON lineage_block(target_table);
CREATE INDEX idx_block_from_table ON lineage_block(from_table);
CREATE INDEX idx_col_block_id ON lineage_block_column(block_id);
CREATE INDEX idx_col_target ON lineage_block_column(target_column);
CREATE INDEX idx_join_block_id ON lineage_block_join(block_id);
CREATE INDEX idx_join_table ON lineage_block_join(join_table);
CREATE INDEX idx_where_block_id ON lineage_block_where(block_id);
CREATE INDEX idx_group_block_id ON lineage_block_group_by(block_id);
CREATE INDEX idx_having_block_id ON lineage_block_having(block_id);
CREATE INDEX idx_union_parent ON lineage_block_union(parent_block_id);
CREATE INDEX idx_fl_job_id ON field_lineage(job_id);
CREATE INDEX idx_fl_target_field ON field_lineage(target_field);
CREATE INDEX idx_fl_target_table ON field_lineage(target_table);
COMMIT;
